@{
  Layout = "_Layout";
}

@using CodeExchange.Models;
@model List<CodeExchange.Models.Forum>

@foreach(Post post in @ViewBag.postByPopularity)
{
  <div class="tile is-ancestor is-vertical is-10">
    <div class="tile is-parent">
      <article class="tile notification">
        <p class="title">@post.Title</p>
        @* <p class="subtitle">@post.Forum.Name</p> *@
        <p class="subtitle">@post.Likes</p>
        <p class="subtitle">@post.Dislikes</p>
        <p class="subtitle">@post.Age()</p> <span>Hr</span>
      </article>
    </div>
  </div>
}

@* <p> @ViewBag.postByDate.Length() </p>
<p> @ViewBag.postByPopularity.Length() </p>
<p> @Model.Count() </p> *@
