@{
  Layout = "_Layout";
}

@model CodeExchange.Models.Post
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li>
      @foreach(var join in Model.JoinEntities)
      {
        @if(join.PostId == Model.PostId)
        {
          <a href="/Forums/Details/@join.Forum.ForumId">@join.Forum.Name</a>
        }
      }
    </li>
    <li><a href="#" aria-current="page">@Model.Title</a></li>
  </ul>
</nav>
<div class="tile post-tile">
      <article class="tile is-vertical notification">

          <div class="container-div">
            <p class="subtitle has-text-light is-inline-block mr-3 mb-4 top-p"><i class="far fa-hand-point-up has-text-primary hover-grow"></i> @Model.Likes</p>
            <p class="subtitle has-text-light is-inline-block mr-3 mb-4 top-p"><i class="fas fa-poo has-text-primary hover-grow"></i> @Model.Dislikes</p>
            <p class="subtitle has-text-light is-inline-block mr-3 mb-4 top-p"><i class='bx bx-time has-text-primary'></i> @Model.Age()</p>
            <p class="subtitle has-text-light is-inline-block right"><span class="color-3">@Model.Creator</span></p> 
          </div>
          <p class="title has-text-light mt-1 mb-2">@Model.Title</p>
          <br>
          <p class="content has-text-light">@Model.Content</p>
      </article>
    </div>

@using (Html.BeginForm())
{
  <input type="hidden" name="Creator" value=@User.Identity.Name></input>
  <input type="hidden" name="PostId" value=@Model.PostId></input>

  <!-- @Html.TextAreaFor(model => model.Content, new {@rows="5", @cols="100", @placeholder="Describe yourself here..."}); -->
  <textarea cols="100" id="Content" name="Content" rows="5" required placeholder="Comments..."></textarea>
  <input type="submit" value="Submit Comment" class="button is-success ml-5 comment-submit" />
}

@if(Model.Comments.Count == 0)
{
  <h2 class="color-3"> No Comment(s) yet</h2>
}
else
{
  @foreach(var comment in Model.Comments)
  {
    <div class="tile">
      <article class="tile is-vertical notification">

          <div class="container-div">
            <p class="subtitle has-text-light is-inline-block mr-3 mb-4 top-p"><i class="far fa-hand-point-up has-text-primary hover-grow"></i> @comment.Likes</p>
            <p class="subtitle has-text-light is-inline-block mr-3 mb-4 top-p"><i class="fas fa-poo has-text-primary hover-grow"></i> @comment.Dislikes</p>
            <p class="subtitle has-text-light is-inline-block mr-3 mb-4 top-p"><i class='bx bx-time has-text-primary'></i> @comment.Age()</p>
            <p class="subtitle has-text-light is-inline-block right"><span class="color-3">@comment.Creator</span></p> 
          </div>
          <br>
          <p class="content has-text-light">@comment.Content</p>
      </article>
    </div>
  }
}