@using System.Security.Claims
@using CodeExchange.Models;
@* @using CodeExchange.Models.AppUser; *@

<div class="block" id="nav-div">
  <nav class="navbar is-fixed-top is-dark">
    <div class="navbar-brand">
      <a href=@Url.Action("Index", "Home") class="ml-5 mt-2 logo"> <img alt="" src="~/img/jrce-icon.png" class="nav-img" /></a>
      <h1 class="title is-4 has-text-white mt-3"><span class="title is-4 ml-3 mt-2 has-text-primary">@Html.ActionLink("Jr", "Index", "Home")</span>@Html.ActionLink("CodeExchange", "Index", "Home")</h1>
    </div>
    <div class="navbar-menu navbar-end is-active">
      @if (User.Identity.IsAuthenticated)
      {
        @* <button class="nav-item final-nav has-text-white mr-4 mt-1 button has-background-primary">@Html.ActionLink("Log Off", "Index", "Home")</button> *@
        <p class="nav-item mt-3 mr-4">Hello @User.Identity.Name!</p>
        @using (Html.BeginForm("LogOff", "Account"))
        {
            <input type="submit" class="nav-item final-nav has-text-white mr-4 mt-1 button has-background-primary" value="Log out" />
        }
      }
      else
      {
        <p class="nav-item mt-3 mr-4"> Welcome, Guest </p>
        <button class="nav-item has-text-white mr-4 mt-1 button is-primary is-outlined">@Html.ActionLink("Login", "Login", "Account")</button>
        <button class="nav-item has-text-white mr-4 mt-1 button is-primary">@Html.ActionLink("Sign Up", "Register", "Account") </button>
      }
    </div>
  </nav>
</div>