@using System.Security.Claims
@using CodeExchange.Models;

<div class="block" id="nav-div">
  <nav class="navbar is-fixed-top is-dark">
    <div class="navbar-brand">
      <h1 class="title is-4 has-text-white ml-5 mt-2"><span class="title is-4 ml-5 mt-2 has-text-primary">@Html.ActionLink("Jr", "Index", "Home")</span>@Html.ActionLink("CodeExchange", "Index", "Home")</h1>
    </div>
    <div class="navbar-menu navbar-end is-active">
      @if (User.Identity.IsAuthenticated)
      {
        <p class="nav-item mt-3 mr-4"> Hi, </p>
        <button class="nav-item final-nav has-text-white mr-4 mt-1 button has-background-primary">@Html.ActionLink("Log Off", "Index", "Home")</button>
      }
      else
      {
        <p class="nav-item mt-3 mr-4"> Welcome, Guest </p>
        <button class="nav-item has-text-white mr-4 mt-1 button is-info is-outlined">@Html.ActionLink("Login", "Login", "Account")</button>
        <button class="nav-item has-text-white mr-4 mt-1 button is-info">@Html.ActionLink("Sign Up", "Register", "Account") </button>
      }
    </div>
  </nav>
</div>